#nav{
    display: flex;
    border: 1px solid black ;
    justify-content: space-between;
    height: 50px;
}
#nav>div{
   margin-top: 15px;
}
button{
   background-color: rgb(24, 109, 179);
   border: transparent;

}
a{
   color: black;
   text-decoration:none;
}